# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  checkout_code:
    docker:
      - image: circleci/ruby:2.4.1-node-browsers

    working_directory: ~/repo

    steps:
      - checkout
      - save_cache:
          key: ra-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/repo

  bundle_dependencies:
    docker:
      - image: circleci/ruby:2.4.1-node-browsers
        environment:
          RAILS_ENV: test

    working_directory: ~/repo

    steps:
      - restore_cache:
          key: ra-repo-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          key: gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}

      - run:
          name: install ruby dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}

  yarn_dependencies:
    docker:
      - image: circleci/node:8.12.0-browsers
        environment:
          NODE_ENV: test
      - image: circleci/ruby:2.4.1-node-browsers
        environment:
          RAILS_ENV: test

    working_directory: ~/repo

    steps:
      - restore_cache:
          key: ra-repo-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          key: yarn-cache-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}

      - run:
          name: install yarn dependencies
          command: |
            yarn install

      - save_cache:
          paths:
            - ./node_modules
          key: yarn-cache-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}

  run_test:
    docker:
      - image: circleci/ruby:2.4.1-node-browsers
        environment:
          RAILS_ENV: test
          CHROME_BIN: "/usr/bin/google-chrome"

      - image: circleci/postgres:9.4
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: reverse_auction_test

      - image: redis:4.0

    working_directory: ~/repo

    steps:
      - restore_cache:
          key: ra-repo-{{ .Environment.CIRCLE_SHA1 }}

      - restore_cache:
          key: gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}

      - restore_cache:
          key: yarn-cache-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}

      - run: bundle --path vendor/bundle

      - run:
          name: Database setup
          environment:
            DATABASE_URL: postgres://root@localhost:5432/reverse_auction_test
          command: |
            bundle exec rake db:create
            bundle exec rake db:schema:load

      - run:
          name: run tests
          command: |
            mkdir /tmp/test-results
            TEST_FILES="$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)"

            bundle exec rspec --format progress \
                            --format RspecJunitFormatter \
                            --out /tmp/test-results/rspec.xml \
                            --format progress \
                            -- \
                            $TEST_FILES
          environment:
            DATABASE_URL: postgres://root@localhost:5432/reverse_auction_test

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
      - store_artifacts:
          path: ~/repo/coverage
          destination: test-results/coverage

  deploy:
    docker:
      - image: circleci/ruby:2.4.1-node

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Run setup script
          command: bash .circleci/setup-heroku.sh
      - add_ssh_keys:
          fingerprints:
            - "a8:d4:b4:85:c1:ec:6a:93:d9:81:28:6b:a7:c5:f1:73"
      - run:
          name: Deploy Master to Heroku
          command: |
            git push --force git@heroku.com:$HEROKU_STAGING.git HEAD:refs/heads/master
            heroku run --app $HEROKU_STAGING rake db:migrate
            heroku restart web --app $HEROKU_STAGING
          no_output_timeout: 60m

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - checkout_code
      - bundle_dependencies:
          requires:
            - checkout_code
      - yarn_dependencies:
          requires:
            - checkout_code
      - run_test:
          requires:
            - bundle_dependencies
            - yarn_dependencies
      - deploy:
          requires:
            - run_test
          filters:
            branches:
              only:
                - master
