div.admin_btn 
  a.lm--button.lm--button--primary link_to= "admin/auctions/new" Manage Upcoming Reverse Auction
  a.lm--button.lm--button--primary link_to= "" View Past Reverse Auction
  a.lm--button.lm--button--primary.begin_auction link_to= "" Start Bidding

