h1.search_list_type Auction Log List
div id='users_search_list'
a.lm--button.lm--button--primary.u-mt3 href="/admin/auction_results" Back

/ .page-header
/
/ table.table.table-hover.retailer_fill.u-mt3
/   thead
/     tr
/       th Name
/       th Date
/       th Action
/   tbody
/     - @auction_events.each do |event|
/       tr
/         td= event.company_name
/         td= event.auction_when.strftime("%d %b %Y - %H:%m:%S")
/         td= event.auction_do
/ hr
/
/ .u-grid.u-mt3
/   .col-sm-12.col-md-6
/     = page_entries_info @auction_events, entry_name: AuctionEvent.model_name.human
/   .col-sm-12.col-md-6
/     = paginate(@auction_events)
/
/ div.createRaMain.u-grid
/   a.lm--button.lm--button--primary.u-mt3 href="/admin/home" Back to Homepage
