@import 'shared';
.createRaMain{
    margin: 0px auto;
    width:100%; position: relative;
    .creatRa{
        margin: 30px auto;
        dd{
            margin-bottom: 20px;
            label{line-height: 44px;}
            b{ 
                font-weight: normal; font-size: 12px; text-align:center; display: block
            }
            b.textLeft{text-align: left;}
            input{
                display: block;
                width: 100%;
                padding: 0.6875rem 1rem;
                font-size: 1rem;
                font-weight: 300;
                color: #fff;
                line-height: 1.25;
                background: transparent;
                border: 1px solid #5d7789;
                border-radius: 0.3125rem;
              }
        }
    }
    .createRa_btn{position: absolute; right:0px;
        button{ margin: 0 10px;}
    }
}

