@import 'shared_white';
@import 'chart';

//bidders Status of retailers
.bidderStatus{
     overflow: hidden; text-align: left;
     *{color:#fff;}
     h4,h3{ margin: 10px auto 25px; width: 80%;}
     .color_show{
         width: 80%; margin: 0 auto; display:block; text-align: center;
         label{
             margin:0 15px;
             span{
                 display: inline-block; width:10px; height: 10px; background: #54BD1B; margin-right: 5px;
                 &.yellow{background: yellow;}
                 &.red{background: red;}
                }
             dfn{font-style: normal; font-size: 12px;}
         }
    }
    .bidders_list{
         margin: 10px auto; overflow-y: auto; font-size: 12px;
        li{ width: 100%; height: 32px; line-height: 32px;
            margin-bottom: 5px;
            background: #183243; overflow: hidden;
            span{
                 color:#00afb2; overflow: hidden; white-space:nowrap; text-overflow: ellipsis; border-right: 1px solid #485A68;
                abbr{
                    display:block; width:60%; height: 20px; margin: 6px auto;
                    &.color1{ background:#54BD1B;color: #183243; text-align: center; line-height: 20px; text-decoration: none; }
                    &.color0{ background:red; }
                    &.color2{ background:yellow; color: #183243 ; text-align: center; line-height: 20px; text-decoration: none;}
                    &.on{ background: url("../images/green.png") no-repeat center;}
                    &.off{background: url("../images/red.png") no-repeat center;}
                    &.other{background: url("../images/Yellow.png") no-repeat center;}
                }
                &:first-child{
                    text-indent:20px;
                }
                &:last-child{
                    border:none; text-align: center; text-indent: 0px; text-decoration:underline;
                    cursor: pointer;
                }
                &.white{
                    color:#333; cursor:default; text-decoration: none;
                }
            }
        }
    }
}
.isHide{
    display: none;
}
.onlineStatusMain{
    .ros_tab{
        width:100%; overflow: hidden; margin: 0px auto;
        li{
            font-size: 12px; color:#fff; line-height:26px; text-align: left; padding-left: 25px;
            &.on{ background: url("../images/green.png") no-repeat left;}
            &.other{ background: url("../images/Yellow.png") no-repeat left;}
            &.off{ background: url("../images/red.png") no-repeat left;}
        }
    }
    button{
        width: 99px; height:89px; text-indent: -9999px; outline: none;
        &.startHold{background: url("../images/go.png") no-repeat center;}
        &.endHold{background: url("../images/stop.png") no-repeat center;}
    }
}

.w_8{ width: 80%;}
.fright{float: right;}



.admin_result_list{
    ul{ width: 100%;
        li{ width: 100%; margin: 15px auto; cursor: pointer; list-style: none; padding:30px 0px; background: #183243;
            a{
                line-height: 26px; padding-right: 25px; text-decoration: none; padding-left: 26px; cursor: pointer;
                &.report{background: url("../images/Reverse_Auction_Report.png") no-repeat right; background-size:19px;}
                &.log{background: url("../images/Activity_Log.png") no-repeat right; background-size:19px;}
                &.ddd{background: url("../images/letter_of_award.png") no-repeat right; background-size:19px;}
            }
        }
    }
}

.report_bg{
    background:#183243; padding: 15px;
}
.alternative-winner{
    width:55%;
    margin:0 auto;
    padding:20px 20px 80px;
    position: relative;
    h2{
        padding:10px 0;
    };
    abbr{color:red}
    p{margin-top: 5px};
    .submit{
        padding: 0.75rem 1rem 0.75rem;
        right:20px;
        margin-top: 15px;
        position: absolute;
        font-size: 1.0625rem;
    };
    table{
        button{
            padding:2px 5px;
            font-size: 14px;
            &.disabled{background: #666; color: #aaa;}
        }
    };
    textarea{
        resize: none;
    }
}
.downLoadIcon{
    width:24px;
    height:24px;
    margin: 0px 5px; display: inline-block;
    background: url("../images/letter_of_award.png") no-repeat;
    background-size: 24px;
}
.downLoadIconL{
  padding-left:30px; width: auto; display: block; margin:5px;
  text-align: left; line-height: 24px;
}
.line15{line-height: 15px; text-decoration: none;}
.list-of-award{
    overflow: hidden;
    text-align: left;
    .list-flex{
        display:flex;
        width:40%;
        margin: 10px auto;
        overflow-y: auto;
        font-size: 12px;
    }
}

.center{
    align-items: center;
}


.loadingSty {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#aaa;
	z-index: 15000;
}

.loadingSty img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin-top: -15px;
	margin-left: -15px;
}


#bg{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color:#efefef;
	z-index:1001;
	-moz-opacity: 0.3;
	opacity:.30;
	filter: alpha(opacity=30);
}

#show{
	display: none;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 10%;
	height: auto;
	padding: 8px;
	z-index:1002;
	overflow: auto;
}
