@import 'shared';
@import 'chart';
.createRaMain{
    margin: 0px auto;
    width:100%; position: relative; padding-bottom: 60px;
    .creatRa{
        margin: 30px auto;
        .react-datepicker__input-container,.react-datepicker-wrapper{width:100%;}
        dd{
            margin-bottom: 20px;
            b{ 
                font-weight: normal; font-size: 18px; line-height: 44px; text-align:center; display: block
            }
            b.textLeft{text-align: left;}
            input{
                display: block;
                width: 100%;
                padding: 0.6875rem 1rem;
                font-size: 1rem;
                font-weight: 300;
                color: #fff;
                line-height: 1.25;
                background: transparent;
                border: 1px solid #5d7789;
                border-radius: 0.3125rem;
              }
              input.date_ico{background:url("../images/date.png") no-repeat right;}
              input.time_ico{background:url("../images/time.png") no-repeat right;}
        }
    }
    .createRa_btn{position: absolute; right:0px; bottom:0px;
        button{ margin: 0 10px;}
    }
}


//bidders Status of retailers
.bidderStatus{ 
     overflow: hidden; text-align: left;
     *{color:#fff;}
     h4,h3{ margin: 10px auto 25px; width: 80%;}
     .color_show{ 
         width: 80%; margin: 0 auto; display:block; text-align: center;
         label{ 
             margin:0 15px;
             span{display: inline-block; width:10px; height: 10px; background: #54BD1B; margin-right: 5px;}
             span.yellow{background: yellow;}
             span.red{background: red;}
             dfn{font-style: normal; font-size: 12px;}
         }
    }
    .bidders_list{
        width: 80%; margin: 10px auto; overflow-y: auto;
        li{ width: 100%; height: 32px; line-height: 32px; 
            margin-bottom: 5px; 
            background: #183243; overflow: hidden;
            span{
                text-indent: 20px; border-right: 1px solid #485A68;
                abbr{
                    display:block; width:60%; height: 20px; margin: 6px auto;
                }
                abbr.green{ background:#54BD1B; }
                abbr.red{ background:red; }
                abbr.yellow{ background:yellow; }
                abbr.online{ background: url("../images/green.png") no-repeat center;}
                abbr.outline{background: url("../images/red.png") no-repeat center;}
                abbr.holding{background: url("../images/Yellow.png") no-repeat center;}
            }
            span:last-child{
                border:none;
                cursor: pointer;
            }
        }
    }
}
