@import 'shared';

.devise-logo {
  margin-top: 150px;
  width:418px;
}

.devise_registrations.new,
.devise_confirmations,
.devise_sessions,
.devise_passwords,
.devise_unlocks
 {
  header {
    display:none;
  }

  footer {
    text-align: center;
  }
}



//retailer liveing
#live_modal{
  width: 480px; margin: 60px auto;
  border-radius: 0px 0px 5px 5px; overflow: hidden; 
  .live_hold{ background: url("../images/count_down.png") no-repeat; width: 100%; height:126px; }
  .live_end{ background: url("../images/thank you_end.png") no-repeat; width: 100%; height:126px; }
  p{ background: #00afb1; width: 100%; line-height: 32px; font-size: 18px; padding: 20px; text-align: center}
}
.live_show{display: block;}
.live_hide{display: none;}

