//all
body{background: #f3f6f7;}
html{
  body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:geomanist, Arial; font-size: 12px;}
}
.green{color:green;}
.red{color:red;}
.cursor_link{cursor: pointer !important;}
.a_center{text-align: center; display: inline-block;}
a{cursor: pointer;}
button[disabled=''],input[disabled=''],textarea[disabled=''],select[disabled='']{background: #999 !important; color:#ddd !important; cursor: default !important;}
textarea{resize: none;}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.lm--header{ background: #fff; border-bottom:1px solid #ccc;
  [class^='lm--icon-'],[class*='lm--icon-']{color:#333 !important;}
  .lm--header-menu{background:none;
    .lm--header-link{color:#333;}
  }
}
.admin_btn a,.admin_btn a:hover{background:#00b0b2; text-align: center; padding: 0.85rem 0rem 0.85rem; margin-bottom: 15px;}
[type="text"], [type="password"],
[type="date"], [type="datetime"],
[type="datetime-local"], [type="month"],
[type="week"], [type="email"], [type="number"],
[type="search"], [type="tel"], [type="time"],
[type="url"], [type="color"], textarea,select{color: #333; border-color: #ced5dc;}
.lm--dropdown-menu{
  background: #fff;
  a{color:#333;}
  &:before{ border-style: solid;
    border-width: 0 12px 12px;
    border-color: transparent transparent #fff;}
}
h1,h2,h3,h4{color:#333;}
h2{color:#4f5a60; font-size: 32px; font-weight: normal;}
h1.search_list_type{font-weight:normal;background: #fff;  margin-bottom: 0px;  padding: 25px 24px;}
.padLR24{padding:0 24px;}
.bgwhite{background: #fff;}
body a{outline:none; cursor: pointer; color:#00b0b2;}
.link_hand a{cursor: pointer; color:#333;}
button{ cursor: pointer; transition: 0.5s all;}
.green{color:green;}
.red{color:red;}
button[disabled='']{background: #666 !important; color:#999 !important; cursor: default !important;}
.simple_form{ padding: 15px; background: #fff;
}
.middleFont{color:#4f5a60; font-size: 20px; font-weight: normal;}
.largeFont{color:#4f5a60; font-size: 32px; font-weight: normal;}
//createRaMain or retailer btn
.createRaMain{ color:#333;
  margin: 0px auto;
  width:100%; position: relative; padding-bottom: 60px;
  form{ padding: 15px; background: #fff; margin-top: 15px;}
  a{transition: 0.8s all;
    &:hover{background:#00888a;}
  }
  .creatRa{
    margin: 30px auto;
    .react-datepicker__input-container,.react-datepicker-wrapper{width:100%;}
    dd{
      margin-bottom: 20px;
      .lm--formItem-right{
        position: relative;
        .required_error{position:absolute; display: none; top:45px; left:0; width: 100%; padding:5px 10px; border:2px solid #fbb136; background: #fff; color:#333; font-size: 15px;}
      }
      label{
        abbr{display: inline-block;}
        a{
          font-size: 12px;
          padding: 4px 15px;
          margin-left: 10px;
        }
        &.checkbox_div{margin:12px 10px;}
        // &.tc{
        //   font-size: 12px;
        //   padding: 4px 0px;
        //   margin-left: 0px;
        // }
      }
      b{
        font-weight: normal; font-size: 18px; line-height: 44px; text-align:center; display: block;
        &.textLeft{text-align: left;}
      }
      input,select{
        display: block;
        width: 100%;
        padding: 0.6875rem 1rem;
        margin-top: 0px;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.25;
        background: transparent;
        border: 1px solid #ced5dc;
        border-radius: 0.3125rem;
        &.date_ico{background:url("../images/images_for_white/date.png") no-repeat right;}
        &.time_ico{background:url("../images/images_for_white/time.png") no-repeat right;}
        &.checkbox{ display: inline-block; width: auto;}
      }
    }
  }
  .createRa_btn{text-align: right; right:0px; bottom:0px; position: relative;
    .show{display:inline-block;}
    .hide{ display: none;}
    button{
      margin: 0 10px;
      &:last-child{margin-right: 0px;}
      &:hover{background:#00888a;}
    }
    .mask{ width: 100%; height: 100%; position: absolute; left: 0; top:0;}
  }
}
.peak_error_border{
  border: 1px solid red !important;
}
.peak_correct_border{
  border: 1px solid fff !important;
}
.peak_error{  display: block; top:60px; left:0; width: 100%; padding:5px 10px; color:red; font-size: 15px;z-index: 10}
.peak_correct{display:none;}
.invitation_main{
  padding: 15px; background: #fff; color: #333;
}
.alternative-winner{
  background: #fff !important;
}
.retailor_justification{ text-align: right;
  h2{ text-align:left;}
  button{margin-left: 15px;}
}
//retailer manage coming
.link_file{line-height: 40px; text-decoration: underline;}
abbr[title]{color: #fe0000; text-decoration: none;}
.retailer_btn{
  text-align: right; width: 100%; margin: 25px auto; position: relative;
  button{
    display: inline-block; margin: 0px 10px;
    &:last-child{ margin-right: 0px;}
    &:hover{background:#00888a;}
  }
  a{transition: 0.8s all;
    &:hover{background:#00888a;}
  }
  .mask{ width: 100%; height: 100%; position: absolute; left: 0; top:0;}
}
.mh400{min-height:400px;}
.table-body{width:100%; max-height:300px;overflow-y:auto; overflow-x:hidden}
.retailer_fill{
  width: 100%; font-size: 12px; table-layout: fixed; border-top:1px solid #ddd; border-left:1px solid #ddd; background: #fff;
  thead{
    tr{ background: #eee;
      th{
        height: 40px; border-right:1px solid #ddd; font-size: 12px; color:#333;
        &.table_title{border-bottom:1px solid #ddd;}
      }
    }
  }
  tbody{
    overflow:auto; height: 30px;
    tr{ &.isbidder{background:#00b0b2; transition: 0.5s all;
      td{
        color:#fff; font-size: 12px;
        div{font-size: 12px; }
      }}
      td{border:1px solid #ddd; font-size: 12px; text-align: center; color:#333; height: 40px; padding:5px; word-break: break-all;
        div{font-size: 12px;}
        abbr{
          display: inline-block; line-height: 40px; font-style: normal; transition: 0.5s all;
          background: url("../images/notification_sent.png") no-repeat -20px 11px;
          &.fill_yes{ background-position: 0px 11px; background-size:15px; padding-left: 20px;}
        }
        a{
          display: block; width: 100%; height: 100%; cursor: pointer; color:#333;
          &.btnOption{
            color:#fff; cursor: pointer; border-radius: 3px; background:#00afb1; display: block; margin: 5px auto; width: 60px; height: 20px; text-align: center;
          }
          &.edit{height: auto; margin-bottom: 0px;}
          &.report{background: url("../images/images_for_white/Reverse_Auction_Report.png") no-repeat center; background-size:19px;}
          &.log,&.award{background: url("../images/images_for_white/Activity_Log.png") no-repeat center; background-size:19px;}
        }
        input{
          width: 60px; display: inline-block; padding:2px; color:#333; border: 1px solid #ced5dc; margin-left: 5px; background: none;
        }
      }
    }
  }
}

//time_cuntdown
.time_cuntdown{
  width: 100%; padding:12px; background: #fff; box-shadow: 0px 0px 5px #ccc; min-height: 132px; color:#333;
  p{
    font-size:20px; line-height: 30px;
    &.confirm{ padding:35px 0px;}
  }
  .Countdown{
    font-size:20px; line-height: 30px; margin-top: 10px;
    abbr{float: left; line-height: 60px;}
  }
  #countdown_timer,#during_countdown_timer{
    width:300px; overflow: hidden; float: left;
    span{
      width: 25%; float: left; text-align: center; font-size:14px !important;
      font{ font-size:35px; display: block;}
    }
  }
  #during_countdown_timer{
    width: 260px;
    span{
      width:33.3333333%;
    }
  }
  #retailer_hold{
    float: left;
    b{ font-size: 14px; color:#fff; background: #E60013; padding: 4px;}
  }
}
.during{
  background:#fbb136; color: #000;
  .show{ display: block;}
  .hide{ display: none;}
  p{color: #000;}
  #admin_hold,#retailer_hold{
    float: left; line-height: 60px; width: 380px;
    span,input{display: inline-block;}
    b{ font-size: 14px; color:#fff; background: #E60013; padding: 4px;}
    .fill_hold{ width:60px; background: #fff; color:#000; margin:0px 10px; border:1px solid #000; text-indent: 10px; padding: 0px; height: 26px;}
    .hold_submit{ background: #22ad38; border:none; margin-left: 10px; color:#fff; padding: 3px 10px; border-radius: 5px;}
  }
}




//var modal css by will
.modal_hide{ opacity: 0; z-index: -1;}
.modal_show{  opacity: 1; z-index: 10; transition: 0.8s all;}
#modal_main{ position: fixed; font-size: 12px;
  width:420px; min-height:200px; background-color: rgba(255, 255, 255, 1); border-radius: 10px; box-shadow: 0px 0px 10px #ccc;
  top:35%; left:50%; margin: -100px 0px 0px -210px;
  h4{
    height: 32px; line-height: 32px; width: 100%; margin: 0 auto; font-size: 13px;
    span{ float: left; padding-left:15px;}
    a{ float: right; padding-right:15px; cursor: pointer;}
  }
  .modal_detail{ width:90%; min-height: 112px; max-height:290px; overflow-y: auto; margin:0px auto; line-height: 22px; font-size: 16px;word-wrap: break-word;
    .modal_text{ width: 100%; height: auto; border:0px; background: none; font-size: 16px; color:#fff;rows:2;resize:none;}
  }
  .showinfo{ color: red; min-height: auto;}
  .modal_btn{
    width:100%; margin: 10px auto; overflow: hidden;
    a{ width: 60px; float:right; margin-right: 10px; cursor: pointer;  padding: 3px 0px; text-align: center; background: #00888a; border-radius: 5px; color:#fff !important; display: inline-block; margin: 0px 10px;}
  }
  .model_detail_formHeight{max-height: 470px}
  .model_detail_formWidth{width:800px;}
}
.u-contain{overflow:hidden; color:#333;
  .alert{color: #fff;}
}
#modal_history{position: fixed; top:0; left: 0; font-size: 12px;
  width:100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);
  .history_box{ width:40%; min-width: 300px;  overflow: hidden; background: #fff; margin:8% auto 0;
    h4.title{font-weight: 500;
      height: 42px; line-height: 42px; background: #00afb1; width: 100%; margin: 0 auto; font-size: 13px;
      span{ float: left; padding-left:15px; color:#fff;}
      a{ float: right; padding-right:15px; color:#fff; cursor: pointer;}
    }
    div.detail_main{ position: relative;}
    div.detail_show{
      width: 96%; margin:10px auto; height:300px; color:#333; position: relative;
      div.detail_mask{background: rgba(255,255,255,0.5); width: 96%; height: 100%; top:0; left:2%; margin-left: -8px; position: absolute; z-index: 99999;}
    }
    a.detail_show_btn{ float: right; width:80px; border-radius: 5px; display: block; height:24px; background:#00b0b2; line-height: 24px; text-align: center; margin: 0px 2% 10px 0px; color: #fff;}
    .history_nr{overflow-y: auto; height:362px;
      dl{ width: 100%;
        div{border:1px dashed #ddd; background: #fff; margin-top: 5px; padding: 5px; font-size: 12px; color:#666;}
        dd{ width:92%; display: block; overflow: hidden; margin: 15px auto; font-weight: normal;
          dfn{
            color:#666;
            float: left; margin-right:15px; text-align: center; overflow: hidden;
            display: flex;flex-direction: column;align-items: center;
            bdo{ width: 42px; height: 42px; font-style: normal;display: block; background: url("../images/retailer_icon.png") no-repeat center; background-size: 42px; }
          }
          aside{ background: #eee; overflow: hidden;  padding: 10px; word-break:break-all; border-radius: 5px; color:#666; display: block}
        }
        dt{width:92%; display: block; overflow: hidden; margin: 15px auto; font-weight: normal;
          dfn{color:#666;
            float: right; margin-left:15px; text-align: center; overflow: hidden;
            display: flex;flex-direction: column;align-items: center;
            bdo{ width: 52px; height: 42px; display: block; background: url("../images/SP_Group_Logo.jpg") no-repeat center; background-size: 42px; }
          }
          aside{ background: #9fdd9f;  word-break:break-all; padding: 10px; border-radius: 5px; color:#666; display: block; overflow: hidden;
            div{border:1px dashed #fff;}
            &.short{min-width:80px; max-width: 350px; float: right;}
          }
        }
      }
    }
  }
  .showbig{ width: 96%; margin: 2% auto;
    textarea.detail_show,.history_nr{ height: 420px;}
  }
}


//retailer ranking
.retailrank_main{ width: 86%; margin: 10px auto; font-size: 12px;
  h4{ color:#fff;}
  .retailrank_box{width: 100%; max-height: 441px; margin: 10px auto; overflow-y: auto;}
}

//reservePrice
.reservePrice{
  width: 86%; margin: 10px auto; line-height:22px;
  span{
    margin-right: 10px;
    &.success{ color:green; background: url("../images/images_for_white/achieved.png") no-repeat left; padding-left:20px;}
    &.fail{ color:red; background: url("../images/images_for_white/not_achieved.png") no-repeat left; padding-left:20px;}
  }
}

//winnerPirce
.winnerPrice_main{
  width:86%; margin: 10px auto; font-size: 12px;
  h4{ color:#333;}
  ul li{ line-height: 32px; list-style: none;}
  table{ margin: 15px auto;}
  .show{display: block;}
  .hide{ display: none}
  .green{ color: #54B41B;}
  .red{ color: #E60013;}
  a{ margin: 0px 5px;}
}

//checkitem
.checkitem{ list-style: none; line-height:22px;
  img{ margin-right:10px;}
}



//retailer liveing
#live_modal{
  width: 480px; margin: 60px auto;
  border-radius: 0px 0px 5px 5px; overflow: hidden;
  .live_hold{ background: url("../images/images_for_white/count_down.png") no-repeat; width: 100%; height:126px; }
  .live_end{ background: url("../images/images_for_white/thank you_end.png") no-repeat; width: 100%; height:126px; }
  p{ background: #00afb1; width: 100%; color:#fff; line-height: 32px; font-size: 18px; padding:10px 10px 20px 10px; text-align: center}
}
.font13{ font-size: 14px;}
.live_show{display: block;}
.live_hide{display: none;}
.white_bg{background: #fff; box-shadow: 0px 0px 5px #ccc;}
.buyer{
  .retailer_fill{
    input,select{ width:96%; margin: 3px auto; padding: 1px; border:1px solid #ccc;}
  }
  .cursor{ cursor: pointer;}
  .site_list_title{
    width: 100%; overflow: hidden; line-height:42px;
    span{float: left;}
    a{ float: right; color: #00888a; font-size: 15px; cursor: pointer; background: url("../images/images_for_white/remove.png") no-repeat left; padding-left:18px;}
  }
  .addSite{ width: 100%; margin: 10px auto;
    a{color:#00888a; cursor: pointer; background: url("../images/images_for_white/add.png") no-repeat left; padding-left:18px;}
  }
  .buyer_btn{ text-align: right; width: 100%;
    a{
      &.disabled{background: #666; color: #aaa; cursor:default;}
    }
    button{
      margin: 0 10px;
      &:last-child{margin-right: 0px;}
      &:hover{background:#00888a;}
      &.disabled{background: #666; color: #aaa;}
    }
  }
}




.showdetail{
  width: 100%; overflow:hidden;
  li{ list-style: none; line-height:28px; font-size:14px;}
  ol{ margin: 20px auto 0px auto;}
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list{
  padding-right: 0px !important;
}


.admin_hold{ position: absolute; color:red; top:25%;}
::-webkit-scrollbar
{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #314657;
  border-radius: 10px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #314657;
  border-radius: 10px;
  background-color: #00394A;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px #00b0b2;
  background-color: #00b0b2;
}

::-moz-scrollbar
{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #314657;
  border-radius: 10px;
}

::-moz-scrollbar-track
{
  -moz-box-shadow: inset 0 0 6px #314657;
  border-radius: 10px;
  background-color: #00394A;
}

::-moz-scrollbar-thumb
{
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 1px #00b0b2;
  background-color: #00b0b2;
}

//retailer
.number_form{ position: relative; width: 100%; }
.number_error{ position: absolute; width: 100%; background: #fff; top:242px; border-radius: 5px; color: #333; font-size: 12px; padding:5px 10px; border:2px solid #fbb136;}

//remove default arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

//resposive
@media screen and (max-width:1008px){
  .col-md-5,.col-md-7{ width: 100%;}
  .push-md-1{margin-left: 4.33333%;}
  .propose_deviations{
    .push-md-1{margin-left: 0;}
  }
  .admin_btn{
    .push-md-1{margin-left: 8.33333%;}
  }
}
@media screen and (max-width:767px){
  .admin_btn{
    .push-md-1{margin-left: 0px;}
  }
}

.live_modal{
  width: 480px; margin: 60px auto;
  border-radius: 5px; overflow: hidden; display: table;
  p{ background: #00afb1; width: 100%; color:#fff; font-size: 18px; padding:60px 10px 60px 10px; text-align: center}
}
.live_modal_reject{
  text-align:center;
  width:480px;margin: 60px auto;
  border-radius:5px;overflow: hidden;
  .p1{ background: #00afb1; width: 100%; font-size: 18px; padding:60px 10px 7px 10px; text-align: center; color: #fff;}
  .p2{ background: #00afb1; width: 100%; font-size: 18px; padding:8px 10px 60px 10px; text-align: center; color: #fff;}
}
.registration{ margin: 30px auto; min-height: 400px;
  h4{text-align: center; margin: 20px auto;}
  a{width:190px; margin: 40px auto; border-radius:6px; display: block; transition: 0.3s all; cursor: pointer; height:248px; text-indent: -9999px;
    &.buyer{
      background:#3b98de url("../images/buyer_ico.png") no-repeat bottom;
      &:hover{width:200px; height:258px; box-shadow: 0px 0px 25px #333;}
    }
    &.retailer{
      background:#D69841 url("../images/retailer_ico.png") no-repeat bottom;
      &:hover{width:200px; height:258px; box-shadow: 0px 0px 25px #333;}
    }
  }
}

.buyer_registration form{ margin-top: 25px;}
.lm--formItem-left.lm--formItem-label{
  font{font-size: 20px;}
  b{color:red;}
  // &:first-letter{color:red;}
}
.save-right{ text-align: right;
  form{ width: 100%;
    input[type="submit"]{ margin-left:15px;}
  }
}
#edit_user{
  input[type="submit"]{ margin-left:15px;}
}
select{
  option{
    color:#333;
  }
}
.title_top{ text-align: center; margin: 40px auto;}
dfn.manage_label{
  font-style: normal; display: block;
  width: 100%;
  padding: 0.6875rem 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: #333;
  line-height: 1.25;
  background: transparent;
  border: 1px solid #5d7789; min-height: 42px;
  border-radius: 0.3125rem;
}

#users_search_list{ color:#333;
  .lm--table th{color:#333;}
  .mg0{ margin: 0 auto;}
  width: 100%;
  div.search_type{ color:#333; overflow: hidden;
    dd{ float: left; margin: 0px 5px; margin-bottom: 10px;
      &.fright{
        float:right; margin: 0;
        a.create_btn{padding: 0px 20px 0px 30px; background:#00b0b2 url("../images/create_ico.png") no-repeat 5px center; background-size: 18px;}
      }
      &.hide{ display: none;}
      span{font-size: 12px; padding:5px 0px; vertical-align: top;}
      label{ width: 140px; display: inline-block; margin-left: 10px;
        .react-datepicker__input-container,.react-datepicker-wrapper{ width: 100%;}
        input,select{
          display: block; margin: 0 auto; font-size: 12px; text-indent: 10px;
          width: 100%;
          padding: 6px 0px;
          font-weight: 300;
          color: #333;
          line-height: 1.25;
          background: transparent;
          border: 1px solid #ccc;
          border-radius: 0.3125rem;
          &.time_ico{background:url("../images/images_for_white/date.png") no-repeat right;}
        }
      }
      button.lm--button,a.lm--button{
        height: 30px; font-size: 12px; padding: 0px 20px 0px 30px; margin-left: 10px; line-height: 30px;
      }
      a.lm--button{padding: 0px 20px 0px 20px;}
    }
    .search_btn{
      background:#00b0b2 url("../images/images_for_white/search.png") no-repeat 5px center; background-size: 18px;
    }
    .create_btn{
      background:#00b0b2 url("../images/create_ico.png") no-repeat 5px center; background-size: 18px;
    }
    .reset_btn{
      background:#00b0b2 url("../images/images_for_white/reset.png") no-repeat 5px center; background-size: 18px;
    }
  }
  div.lm--table-container{ overflow: hidden;
    background: #fff;
    padding: 0 20px;
    margin-top: 15px;
    a{ text-decoration: none; cursor: pointer; color: #333}
    table.lm--table{
      table-layout: fixed;
      tr{border-bottom: 1px solid #ccc;}
      th{
        font-size: 12px; position: relative; color: #9ba6aa;
        dfn.search_list_asc{ cursor: pointer;
          background:url("../images/asc_ico.png") no-repeat; background-size: 14px; display: block; position: absolute; left:-17px; top:50%; margin-top: -8px; width: 14px; height:8px;
          &.selected{background:url("../images/asc_selected_green.png") no-repeat; background-size: 14px;}
        }
        dfn.search_list_desc{ cursor: pointer;
          background:url("../images/desc_ico.png") no-repeat; background-size: 14px; display: block; position: absolute; left:-17px; bottom:50%; margin-bottom: -8px; width: 14px; height:8px;
          &.selected{background:url("../images/desc_selected_green.png") no-repeat; background-size: 14px;}
        }
      }
      td{
        font-size: 13px;
        div{ width: 100%; height:20px;
          &.select_ico_0{background:url("../images/images_for_white/not_invited.png") no-repeat 15px center;}
          &.select_ico_1{background:url("../images/images_for_white/notification_sent.png") no-repeat 15px center;}
          &.select_ico_2{background:url("../images/images_for_white/pending_notification.png") no-repeat 15px center;}
          &.participation_status_0{ background: red; width:60%; margin-top: 3px;}
          &.participation_status_1{ background: #00d900; width:60%; margin-top: 3px;}
          &.participation_status_2{ background: yellow; width:60%; margin-top: 3px;}
        }
        span{
          cursor: pointer; padding-left: 20px;
          &.font_arial{font-family: normal; color:red; padding-left: 10px; font-weight: bold;}
          &.invite{background:url("../images/images_for_white/invite.png") no-repeat left;}
          &.cancel_invite{background:url("../images/images_for_white/cancel_invite.png") no-repeat left;}
        }
        abbr{
          display: block; padding:10px 0px; font-style: normal; word-break: break-word;
        }
        a{
          margin: 5px auto; display: block; width: 100%; cursor: pointer;
          &.report{background: url("../images/images_for_white/Reverse_Auction_Report.png") no-repeat left; background-size:19px; height: 20px; padding-left: 25px;}
          &.log,&.award{background: url("../images/images_for_white/Activity_Log.png") no-repeat left; background-size:19px; height: 20px; padding-left: 25px;}
        }
        &.search_list_btn{word-wrap: break-word;
          a{
            padding-left: 20px; display: block;
            &::before{
              display: none;
            }
            &.view{background:url("../images/images_for_white/view.png") no-repeat left;}
            &.delete{background:url("../images/images_for_white/delete.png") no-repeat left;}
            &.manage{background:url("../images/images_for_white/manage.png") no-repeat left;}
            &.edit{background:url("../images/images_for_white/edit.png") no-repeat left;}
            &.bidding{color:#df5c28; background:url("../images/bidding.png") no-repeat left;}
          }
        }
      }
    }
  }
}
.table_page{
  width: 100%; text-align: right; margin:20px auto;
    ol{
      border:1px solid #e8ecef; display: inline-block; border-radius: 5px; overflow: hidden;
      span{ display: inline-block; line-height: 44px; color:#666;  background: #fff;  cursor: pointer; padding: 0px 20px; transition: 0.5s all;
      &.table_page_selected,&:hover{
        background: #00b0b2; color: #fff; }
    }
  }

}
.select_ico_tab{ overflow: hidden; color:#333;
  li{ float: left; list-style: none; padding-left: 20px; margin-right: 3rem;
    &.select_ico_0{background:url("../images/images_for_white/not_invited.png") no-repeat left;}
    &.select_ico_1{background:url("../images/images_for_white/notification_sent.png") no-repeat left;}
    &.select_ico_2{background:url("../images/images_for_white/pending_notification.png") no-repeat left;}
    &.participation_status_1{background:url("../images/images_for_white/green_ico.png") no-repeat left;}
    &.participation_status_2{background:url("../images/images_for_white/yellow_ico.png") no-repeat left;}
    &.participation_status_0{background:url("../images/images_for_white/red_ico.png") no-repeat left;}
  }
}
#email_body,#deviation_body{position: relative;
  div.w-e-toolbar{
    position: absolute; top:0px; left:0px; width: 100%; z-index:10001;
    flex-wrap: wrap !important;
    div.w-e-menu{
      &:hover{z-index:10002 !important;}
    }
  }
  w-e-panel-tab-title{display: none;}
  div.w-e-text-container{
    height:100% !important;
    .w-e-text{
      padding: 34px 10px 0px 10px;
      p{margin:0;}
    }
  }
}
#deviation_body{
  .w-e-text{
    padding: 56px 10px 0px 10px !important;
  }
}
.mg0{ margin: 0 auto;}
body.choose{
  header.lm--header{display: none;}
}
.retailer_fill.common_template{ width: 70%; margin: 0 auto;
  tbody tr td{ text-align: left; padding: 5px 10px; font-size: 12px;
    button{padding: 4px 10px; margin-right: 10px; font-size: 12px;}
    a{height: auto;}
  }
}

.admin_invitation{
  .w_100{ width: 100%;}
  h4.pending_review{color:#fd6301;}
  .consumption{ position: relative;
    .retailer_fill{ margin-bottom: 1.5rem;}
    .required_error{top:125px; left:0;}
  }
  .role_select{
    position: relative;
    .required_error{ bottom:-36px; width: 70%; right:0; }
  }
  a,button{ margin-bottom: 1rem; font-size: 13px;
    span{ display: block; width: 100%; text-align: center;}
    &.orange{background:#DF5C28;}
  }
  .lm--formItem-right.lm--formItem-control abbr{
    display: block;
    padding: 0.6875rem 0.75rem 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 300;
  }
  .retailer_btn{
    a{ margin-right: 0.75rem;}
  }
  .required_error{position:absolute; display: none; width: 100%; padding:5px 10px; border:2px solid #fbb136; background: #fff; color:#333; font-size: 15px;}
  .file_box{
    width: 100%;
    .upload_file_btn{
      position: relative; width: 100%; display:inline-block; min-height:40px; margin-bottom: 0px;
      border:1px solid #ddd;
      input{ position: absolute; width: 100%; opacity: 0; top:0px; left:0px; margin: 0; height: 100%; z-index: 10;
        }
      dfn{float: left; padding: 0.70rem 1rem 0.70rem; line-height: 1.176470588; color:#333;}
      b{ display: block; position: absolute; right:0px; top:0px; z-index: 3; text-align: center; line-height: 1.176470588; padding: 0.70rem 1rem 0.70rem; background: #666; color: #fff; }
      .required_error{top:40px; left:0px; }
    }
    .u-mt2{ margin-bottom:25px;}
    .add{ border-radius: 100%; background: none; padding: 0.70rem 0.95rem 0.70rem; border:2px solid #00888a; color:#00888a;}
    .remove{border-radius: 100%; background: none; padding: 0.70rem 0.95rem 0.70rem; border:2px solid #00888a; color:#00888a;}
  }
  .upload_mask{position: fixed; z-index: 99999; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); left: 0px; top:0px; display: none;}
  .progress{
    border: 1px solid #00888a; display: none;
    .progress-bar{ background: #00b0b2; text-indent: 5px; transition: 0.5s all; color: #fff;}
  }
  .progress_files{
    ul{
      li{list-style: none; line-height: 26px; overflow: hidden;
        a{ cursor: pointer; color: #00b0b2; float: left; margin: 0;}
        span.remove_file{background:url("../images/images_for_white/remove.png") no-repeat center; cursor: pointer; width: 26px; height: 26px; float: right;}
      }
    }
  }
  input{
    &.date_ico{background:url("../images/images_for_white/date.png") no-repeat right;}
  }
}

.comsumption_list{
  font-size: 13px;  padding:10px; text-align:center;
  .comsumption_list_top{
    .col{font-size: 12px;}
    padding:15px 0px 15px 32px; border-bottom: 1px solid #ccc; background:url("../images/add_l.png") no-repeat left;
  }
  .open{background:url("../images/subtract.png") no-repeat left;}
  .comsumption_list_table{
    display: none;
    table{
      width: 100%; text-align: center;
      td,th{
        padding: 10px 0px; border-bottom: 1px solid #ccc; word-break: break-word; font-size: 12px;
        div{font-size: 12px;}
      }
    }
  }
  .visible{ display: block;}
}

.workflowtab{
  margin:30px 0px;
  table{ width: 100%; table-layout: fixed; margin: 0 auto;
    &.w_100{width: 100%;}
    &.w_80{width: 80%;}
    &.w_60{width: 60%;}
    td{height:110px;
      div{ cursor: pointer;
        width: 100%; height: 100%; background: #fff; position: relative;
        &.current{box-shadow: 0px 0px 10px #00d900 !important;}
        &.step1{background:#fff url("../images/images_for_white/sign_confidentiality_undertaking.png") no-repeat center; background-size: 90%; box-shadow: 0px 0px 10px #ccc;}
        &#old_step1{background:#fff url("../images/images_for_white/sign_confidentiality_undertaking3.fw.png") no-repeat center; background-size: 100%;}
        &.step2{background:#fff url("../images/images_for_white/ender_documents.png") no-repeat center; background-size: 90%; box-shadow: 0px 0px 10px #ccc;}
        &.step3{background:#fff url("../images/images_for_white/deviations.png") no-repeat center; background-size: 90%; box-shadow: 0px 0px 10px #ccc;}
        &.step4{background:#fff url("../images/images_for_white/submit_form_of_tender.png") no-repeat center; background-size: 90%; box-shadow: 0px 0px 10px #ccc;}
        &.step5{background:#fff url("../images/images_for_white/contact_details.png") no-repeat center; background-size:90%; box-shadow: 0px 0px 10px #ccc;}
        span{
          position: absolute; width: 40px; height:40px; right: 0px; top:0px;
          &.selected{background: url("../images/images_for_white/selected_ico_n2.png") no-repeat right top;}
          &.pending{background: url("../images/images_for_white/selected_ico_p2.png") no-repeat right top;}
        }
        &.step_icon{background: url("../images/images_for_white/arrows.png") no-repeat center;}
      }
    }
  }
}

.workflow_btn{
  text-align: right;
  button{ margin-left: 15px; outline: none;
    &.add_deviation{background: url("../images/add_l.png") no-repeat right; color:#333; padding:6px 30px 6px 0px; cursor: pointer; margin: 0;}
    &.add_deviation[disabled='']{background: url("../images/add_l.png") no-repeat right !important; color:#666;}
  }
}
.sign_box{
  width: 100%;
  h4{color: #fd6301; margin: 15px 0px;}
  p{ margin: 15px 0px;}
  .sign_btn{ text-align: right;
    a{ margin-left: 15px;}
  }
  .download{ overflow: hidden;
    span{float: left; margin-right: 15px; line-height: 54px; white-space:nowrap;}
    .download_ico{background: url("../images/images_for_white/file.png") no-repeat center; cursor: pointer; float: left; width: 45px; height: 54px;}
  }
}
.winner_btn{
  border-top:1px solid #00afb1;
  padding-top:15px;
  text-align:center;
  a{margin:0 auto;}
}
.tender_documents{
  .tender_list{
    li{ line-height:45px; list-style: none; overflow:hidden;
      a{cursor: pointer; color:#333;}
    }
  }
}

.propose_deviations{
  h4.pending_review{color:#fd6301;}
  table.retailer_fill{
    tbody{
      tr{
        td{
          input,select,textarea{
            width:90%; margin: 0px auto; padding: 2px; border:1px solid #ccc;
          }
          textarea{
            padding:1px 5px;height:86px;resize:none;white-space: pre;
            &.show_text{ border:0px; color:#333; font-size: 12px;}
          }
          button{background: #00888a; padding: 4px 8px; width: auto; height: auto; display: inline-block; border-radius: 5px; margin:5px;}
        }
      }
    }
  }
  abbr{
    width: 30px; margin: 0 auto; height: 30px; display: block; transition: 0.5s all; border-radius: 100%;
    &.step_finished{ background: url('../images/images_for_white/pigeon.png') no-repeat center;}
    &.cursor{cursor: pointer;
      &:hover{box-shadow: 0px 0px 35px #fff}
    }
    &.step_pending{ background: url('../images/images_for_white/pigeon_p.png') no-repeat center; cursor: pointer;
      &:hover{box-shadow: 0px 0px 35px #fff}
    }
  }
}

.brif_list{
  li{
    list-style:none;
    line-height: 42px;
    a{
      cursor: pointer; color: #00afb1;
    }
  }
}


.admin_buyer_list{
  .buyer_tab{
    a{
      background: #ddd; color: #333; display:inline-block;
      text-align: center; height:42px; line-height: 42px;
      border-radius: 5px 5px 0px 0px; margin-right: 5px; transition: 0.5s all; cursor: pointer;
      &.selected,&:hover{background: #fff;}
    }
  }
  .buyer_list{
    background: #fff; padding: 15px 0px; overflow: hidden; color:#333;
  }
  #buyer_individual{ display: none;}
  .bidderStatus{
    *{color:#333;}
    .bidders_list{ width:96%; margin:0px; margin-top: 5px;
      li{ background: #fff;
        span{
          &:last-child{text-decoration: none; cursor: default;}
          font{color:#00afb2; cursor: pointer; text-decoration: underline;}
          b{font-weight: normal; margin-left:10px;
            &.b_approved{background: url('../images/images_for_white/notification_sent.png') no-repeat left; padding-left:18px;}
            &.b_rejected{background: url('../images/images_for_white/not_invited.png') no-repeat left; padding-left: 18px;}
          }
        }
      }
    }
  }
}

.bidderStatus{
  .color_show label dfn{color: #333;}
  .bidders_list{
    *{color: #333;}
    li{ background: #eee !important;
      &:last-child{ border: none !important;}
      span{
        border-right:1px solid #ccc !important; color:#333;
        &:last-child{border:none !important;}
      }
    }
  }
}
.report_bg{ background: #fff !important; border:1px solid #ddd;}
.onlineStatusMain{
  ul.ros_tab{
    li{
      color:#333
    }
  }
}
.checkitem{ list-style: none; line-height:22px; position: relative;
  div{
    position: absolute; display: none; box-shadow: 0px 0px 10px #ddd; padding-bottom: 5px; top:22px; background: #fff; color: #333; left: 0px; z-index: 9;
    b{display:block; padding: 0px 5px; word-break: break-word; line-height: 20px; font-weight: normal; font-size: 12px;
      bdo{ display: block; background: #f1f1f1; text-indent: 5px;}
    }
  }
  img{ margin-right:10px;}
}
.lm--header-menu--secondary{
  display: inline-flex;
  align-items: center;
}
.lm--header-home-logo > a{
  &:hover{cursor: pointer}
}
.errormessage{
  color:red;
  display: block;
}
.errormessageline{
  color:red;
  display: inline;

}
.isPassValidate{
  display: none;
}
.isHide{
  display: none;
}
.isDisplay{
  display: block;
}
.isDisplayInLine{
  display: inline; text-decoration: none !important;
}
.consumption_model
{
  width:500px;
  height: 400px;
}
.left{
  text-align: left !important;
  word-wrap:break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:auto;
}

.consumption_table{
  width: 100%; font-size: 12px; table-layout: fixed; border-top:1px solid #314657; border-left:1px solid #314657;
  thead{
    tr{ background: #00394A;
      th{
        height: 40px; border-right:1px solid #314657; font-size: 14px;
        &.table_title{border-bottom:1px solid #314657;}
      }
    }
  }
  tbody{
    .react-datepicker__input-container,.react-datepicker-wrapper{width:100%;}
    overflow:auto; height: 30px;
    tr{ &.isbidder{background:green; transition: 0.5s all;}
      td{
        border:1px solid #ced5dc; text-align: left; height: 40px; padding:5px; word-break: break-all;
        line-height: 25px;
        abbr{
          display: inline-block; line-height: 40px; font-style: normal; transition: 0.5s all;
          background: url("../images/images_for_white/notification_sent.png") no-repeat -20px 11px;
          &.fill_yes{ background-position: 0px 11px; background-size:15px; padding-left: 20px;}
        }
        .progress_files{ a{  display: inherit !important; width: auto !important;  } }
        a{
          &.react-datepicker__navigation{ width: auto; height:auto;}
          display: block; width: 100%; height: 100%; cursor: pointer;
          &.report{background: url("../images/images_for_white/Reverse_Auction_Report.png") no-repeat center; background-size:19px;}
          &.edit{background: url("../images/images_for_white/edit.png") no-repeat left; background-size:10px;  width:50px; margin:0 auto; line-height:35px;}
          &.log,&.award{background: url("../images/images_for_white/Activity_Log.png") no-repeat center; background-size:19px;}
        }
        input{
          width: 95%; display: inline-block; padding:2px; border:1px solid #ced5dc; margin-left: 5px; background: none;
          &.date_ico{background:url("../images/images_for_white/date.png") no-repeat right;}
          &.time_ico{background:url("../images/images_for_white/time.png") no-repeat right;}
          &.checkbox{ display: inline-block; width: auto;}
        }
        select
        {
          width: 95%; display: inline-block; padding:2px; border:1px solid #ced5dc; margin-left: 5px; background: none;height: 30px;
        }
        .specil{
          input{ width: 50px; display: inline-block; padding:2px;   background: none;color: #fff;
            border-top:0px dashed rgba(255,255,255,0);border-left:0px dashed rgba(255,255,255,0);border-right:0px dashed rgba(255,255,255,0);border-bottom:1px solid #fff;
          }
        }
        span{
          font-weight: bold;
        }
        .upload {
          a{
            display: block; width: 100%; height: auto; cursor: pointer;text-align:center;
            &.report{background: url("../images/Reverse_Auction_Report.png") no-repeat center; background-size:19px;}
            &.edit{background: url("../images/edit.png") no-repeat left; background-size:10px;  width:50px; margin:0 auto; line-height:35px;}
            &.log,&.award{background: url("../images/Activity_Log.png") no-repeat center; background-size:19px;}
          }
        }
        .noneleftBorder{
          border-left:thick double #ff0000;
        }
      }
    }
  }

}

.offpeak{
  text-decoration :underline;
  width: 30px;
}
.text_padding_left{
  margin-left:5px;
}
.textBold
{
  text-align: left;
  font-weight: bold;
  div{
    text-decoration :underline;
  }
}
.textDecoration
{
  text-decoration :underline;
}
.textNormal
{
  text-align: left;
  div{
    text-decoration :underline;
  }
}
.warning{
  color:red;
}
.custombtn{
  background-color: #00d900;
}
.addEntity{ width: 100%; margin: 10px auto;
  a{color:#00888a; cursor: pointer; background: url("../images/add.png") no-repeat left; padding-left:18px;}
}
.delEntity{ width: 100%; margin: 10px auto;
  a{color:#00888a; cursor: pointer; background: url("../images/remove.png") no-repeat left; padding-left:10px;}
}
.urlStyle{
  cursor: pointer; font-size: 14px !important;
  text-decoration: none;
}
.urlStyleUnderline{
  cursor: pointer; font-size: 14px !important;
  text-decoration:underline;
}
.innerTable{
  border: 0px !important;
}
.address{
  width:"100%";float:"left";
}
.addressLeft{
  width: "30%"; float: "left";
};
.addressRight{
  width: "70%"; float: "left";padding:5px;
}
.chkBuyer{
  position: relative;
  margin:10px auto !important;
  display: inline-block;
  vertical-align: middle;
  span{margin:0px 5px;}
  a{color: #00b0b2;}
}
.check_error{position: absolute; background: #fff; display: none; top:28px; left: 0px; font-weight: 400; font-size: 14px; padding: 10px; border:2px solid orange; box-shadow: 0px 0px 5px #666;}
.chk{
  margin:10px auto !important;
  display: inline-block;
  vertical-align: middle;
  span{margin:0px 5px;}
  // input{
  //   width: 13px;
  // }
}


.dividerline{
}
.tenant_management
{
  background: #ddd !important;
  color:#999 !important;
  cursor: default !important;}
.buttonDisabled{
  background: #ddd !important;
  color: #9ba6aa !important;
}
.entitySub{

}
.selectController{
  // margin-top: 20px !important;
  // padding-top: 20px  !important;
}
.attachementList{
  list-style:none;
  a{
    cursor: pointer
  }
}
.displayline
{
  display: inline;
}

.live_modal_approve_attachment{
  text-align:left;
  min-width:800px;margin: 60px auto;
  min-height:250px;
  border-radius:5px;overflow: hidden;    font-size:16px;
  background: #fff;
  .title{  width: 100%;  padding:20px 10px 20px 10px; text-align: left;
    a{
      cursor: pointer
    }
  }
  .attachment{
    min-height: 180px;
  }
  .btnProceed{
    margin-bottom:10px;
    // padding-bottom: 130px;
    // position:relative;
    // margin-bottom: "50px"
    //  bottom:30px;
    // button { width: 80px; float:right; margin-left: 10px; cursor: pointer;  padding: 3px 0px; text-align: center; background: #54B41B; border-radius: 5px; color:#fff; display: inline-block; }
  }
  h4{ padding:0px 10px 0px 10px;color:#333 !important; font-size:16px; }
}
.checkBuyer{
  margin:5px auto !important;
  display: inline-block;
  vertical-align: middle;
  span{margin:0px 10px;}
}
.lm--table-actions a{color: #333;}
.approve_btn{
  button{
    background:#00afb1; margin: 0 10px;margin-right: 10px;
  }
}
.buyer_list
{
  input{
    display: block;
    width: 80%;
    padding: 0.6875rem 1rem;
    margin-top: 0px;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.25;
    background: transparent;
    border: 1px solid #5d7789;
    border-radius: 0.3125rem;
  }
  textarea{
    display: block;
    width: 80%;
    padding: 0.6875rem 1rem;
    margin-top: 0px;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.25;
    background: transparent;
    border: 1px solid #5d7789;
    border-radius: 0.3125rem;
  }
  select
  {
    display: block;
    width: 80%;
  }
}

.buyer_list_select
{
  select{
    display: block;
    width: 80%;
  }
}
.margin-t
{
  margin-top: 20px; padding-left: 2.625rem;
}
.div-center
{
  float:center !important;
}


.buyer_buyer_list{
  .buyer_tab{
    a{
      background: #ddd; color: #333; display:inline-block;
      text-align: center; height:42px; line-height: 42px;
      border-radius: 5px 5px 0px 0px; margin-right: 5px; transition: 0.5s all; cursor: pointer;
      &.selected,&:hover{background: #fff;}
    }
  }
  .buyer_list1{
    background: #fff; float:center; overflow: hidden;
  }
  #buyer_entity{ display: none;}
}

.logTable{
  width: 97%; font-size: 12px; table-layout: fixed; border:1px solid #314657; border-right:1px solid #314657;   margin: 10px 10px 20px 10px;
  thead{
    tr{ background: #00394A;
      th{
        height: 40px; border-right:1px solid #314657; font-size: 14px;//border-radius:5px;
        &.table_title{border-bottom:1px solid #314657;}
      }
    }
  }
  tbody{
    overflow:auto; height: 30px;
    tr{ &.isbidder{background:green; transition: 0.5s all;}
      td{border:1px solid #314657;
        position: relative; line-height: 40px; text-align: center; height: 40px; padding:5px; word-break: break-all;
        abbr{
          display: inline-block; line-height: 40px; font-style: normal; transition: 0.5s all;
          background: url("../images/notification_sent.png") no-repeat -20px 11px;
          &.fill_yes{ background-position: 0px 11px; background-size:15px; padding-left: 20px;}
        }
      }
    }
  }
}

.buyer_entity{
  width: 100%; font-size: 12px; table-layout: fixed; border-top:1px solid #314657; border-left:1px solid #314657;  margin: 20px 20px 20px 10px;
  thead{
    tr{ background: #00394A;
      th{
        height: 40px; border-right:1px solid #314657; font-size: 14px;
        &.table_title{border-bottom:1px solid #314657;}
      }
    }
  }
  tbody{
    overflow:auto; height: 30px;
    tr{ &.isbidder{background:green; transition: 0.5s all;}
      td{border:1px solid #314657; position: relative; text-align: center; height: 40px; padding:5px; word-break: break-all;
        abbr{
          display: inline-block; line-height: 40px; font-style: normal; transition: 0.5s all;
          background: url("../images/notification_sent.png") no-repeat -20px 11px;
          &.fill_yes{ background-position: 0px 11px; background-size:15px; padding-left: 20px;}
        }
      }
    }
  }
  .addSite{ width: 100%; margin: 10px auto;
    a{ color:#fff; cursor: pointer; background:#00afb1; display: block; margin: 0 auto; width: 60px; height: 20px; text-align: center;}
  }
  .editSite{ width: 100%; margin: 10px auto;
    a{ color:#fff; cursor: pointer; background:#00afb1; display: block; margin: 0 auto; width: 60px; height: 20px; text-align: center;}
  }
  .delSite{ width: 100%; margin: 10px auto;
    a{ color:#fff; cursor: pointer; background:#00afb1; display: block; margin: 0 auto; width: 60px; height: 20px; text-align: center;}
  }
  .approveEntity{ width: 100%; margin: 10px auto;
    a{ color:#fff; cursor: pointer; background:#00afb1; display: block; margin: 0 auto; width: 60px; height: 20px; text-align: center;}
  }
  .rejectEntity{ width: 100%; margin: 10px auto;
    a{ color:#fff; cursor: pointer; background:#00afb1; display: block; margin: 0 auto; width: 60px; height: 20px; text-align: center;}
  }
  .viewEntity{ width: 100%; margin: 10px auto;
    a{ color:#fff; cursor: pointer; background:#00afb1; display: block; margin: 0 auto; width: 60px; height: 20px; text-align: center;}
  }

}
.addSite{ width: 100%; margin: 10px auto;
  a{color:#00888a; cursor: pointer; background: url("../images/add.png") no-repeat left; padding-left:18px;}
}
.spaceDiv{
  height: 25px;
}
.mainEntity{
  background: '#35404c' !important;
}
.entityApprove{
  width: 70px; float:center;
  margin: 5px 0px;
  cursor: pointer;  padding: 5px 0px;
  text-align: center; background: #00888a; font-size: 12px;
  border-radius: 5px; color:#fff; display: inline-block;
}
.btnFont{
  font-size: 1.0625rem !important;
}
.chkBuyerDiv{
  width: 100%;
}
.separate{
  margin-top: 20px;
}
.particiption-title{
  font-size: 14px;
}
.particiption-note
{
  font-size: 14px;
  margin-bottom: 15px;
}
.admin_result_list{
  ul{ width: 100%;
    li{ width: 100%; margin: 15px auto; cursor: pointer; list-style: none; padding:30px 0px; background: #fff !important;
      a{
        line-height: 26px; padding-right: 25px; text-decoration: none; padding-left: 26px; cursor: pointer;
        &.report{background: url("../images/Reverse_Auction_Report.png") no-repeat right; background-size:19px;}
        &.log{background: url("../images/Activity_Log.png") no-repeat right; background-size:19px;}
        &.ddd{background: url("../images/letter_of_award.png") no-repeat right; background-size:19px;}
      }
    }
  }
}
.mouth_tab{
  .selected{box-shadow: 0px 0px 20px forestgreen !important;}
}
.admin_expiry{
  button{ margin-left: 15px;  }
}
.consumption_table_top{
  width: 100%;
  border: 0px ;
  td{
    height: 40px;
    select{border: 1px solid #ced5dc;}
  }
  img{
    height: 120px;
    cursor: pointer;
  }
}
.aUrl{
  cursor: pointer;
}
.statusBack{
  color: forestgreen
}
.statusBackBuyer{
  color:#54BD1B
}

.bigDiv{
  width: 100%;
  height: 100%;
  line-height: 25px;
  vertical-align:middle !important;
  text-align: center !important;
  display: table-cell;
}
.redBorder{
  border:1px solid red;
  color:red;
}
.commonBorder{
  border: 0px;
  color: #333;
}

#bg{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color:#efefef;
	z-index:1001;
	-moz-opacity: 0.3;
	opacity:.30;
	filter: alpha(opacity=30);
}

#show{
	display: none;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 10%;
	height: auto;
	padding: 8px;
	z-index:1002;
	overflow: auto;
}

#pageShow{ margin-left: -16px; margin-right: -16px; background: #fff; padding-bottom: 60px;}
#pageShow .pageShowHeader{ width: 100%; height:394px; overflow: hidden; background: url("../images/images_for_white/Rectangle.png") repeat-x;}
#pageShow .pageShowHeader_h4{width:90%; margin: 30px auto 170px auto; overflow: hidden;}
#pageShow .pageShowHeader_h4 a{float: left; width: 131px; height: 47px; background:url("../images/images_for_white/logo-spdigital-rgb-03-landscape-02B-bw-dark.svg") no-repeat;}
#pageShow .pageShowHeader_h4 span{float: right; margin-top: 12px; cursor: pointer; color:#fff; font-size: 14px; padding: 4px 15px; background: rgba(255,255,255,0.2); border-radius: 10px;}
#pageShow .pageShowHeader h3{ width: 100%; font-size: 36px; text-align: center; margin: 15px auto 30px auto;}
#pageShow .pageShowHeader h5{ width: 100%; font-size: 24px; text-align: center; font-weight: normal; margin: 15px auto;}
#pageShow .pageShowHeader h5 font{color:#FF9D5A}
.pageShowComent{ width: 100%; margin: 50px auto 80px auto;}
.pageShowComent .img1{background: url("../images/images_for_white/image 8.png") no-repeat center; width: 100%; height: 142px;}
.pageShowComent .img2{background: url("../images/images_for_white/image 11.png") no-repeat center; width: 100%; height: 142px;}
.pageShowComent .img3{background: url("../images/images_for_white/image 7.png") no-repeat center; width: 100%; height: 142px;}
.pageShowComent .arrowL{background: url("../images/images_for_white/arrowL.png") no-repeat center; width:100%; height: 142px;}
.pageShowComent .arrowR{background: url("../images/images_for_white/arrowR.png") no-repeat center; width:100%; height: 142px;}
.pageShowComent h4,pageShowComent p{ width: 100%; text-align: center; margin: 10px auto; font-size: 20px;}
.pageShowComent p{font-size: 16px; text-align: center;}
.w_0_5{width: 4.15151515%;}

.pageShowFooter{text-align: left; width: 90%; margin:20px auto 80px auto;}
.pageShowFooter h1{ font-size: 32px; font-weight: bold; margin-bottom: 20px;}
.pageShowFooter p{font-size: 16px; line-height:28px;
      a{color:#00B0B2; text-decoration: none;}
}
.pageShowFooter h4{ margin-top: 55px; font-weight: bold; font-size: 20px;}
.pageShowFooter ul{ width: 100%; margin: 15px auto;}
.pageShowFooter ul li{line-height: 30px; font-size: 16px; list-style: none; margin-bottom: 10px;}
.pageShowFooter ul li span{ display: inline-block; width: 30px; height: 30px; margin-right: 5px; text-align: center; line-height: 30px; border-radius: 100%; background: #4F5A60; color: #fff;}
.pageShowBottom{ width: 100%; text-align: center; font-size: 13px;}
@media screen and (min-width: 768px){
  #pageShow{margin-left: -24px; margin-right: -24px;}
}
#GoLogin{ display: none;}
.top{
  margin-top: 20px;
}
.entityDetail{
  color:#00afb2; cursor: pointer; text-decoration: underline;
}
.radioLabel{
  display: inline-block;
  padding: 0.4875rem 0.75rem 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 300;
}
.lm--button-small{
  height: 130px; font-size: 12px; padding: 0px 20px 0px 30px; margin-left: 100px; line-height: 30px;
}

.buttonRadius{
  border-radius: 3px;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;

}
.object{
  width: 20px;
  height: 20px;
  background-color: #FFF;
  position: absolute;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  -webkit-animation: animate 0.8s infinite;
  animation: animate 0.8s infinite;
}

#object_one {
  top: 19px;
  left: 19px;

}
#object_two {
  top: 0px;
  left: 65px;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;

}
#object_three {
  top: 19px;
  left: 111px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;

}
#object_four {
  top: 65px;
  left: 130px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#object_five {
  top: 111px;
  left: 111px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#object_six {
  top: 130px;
  left: 65px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#object_seven {
  top: 111px;
  left: 19px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
#object_eight {
  top: 65px;
  left: 0px;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
@-webkit-keyframes animate {

  25% {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  75% {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes animate {
  50% {
    -ms-transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
  }

  100% {
    -ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }

}

.spanDecoration
{
  text-decoration:underline;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  width: 60px;
  display: inline;
}
