div.admin_btn 
  a.lm--button.lm--button--primary href = "/admin/auctions/new" Create/Edit New Reverse Auction
  a.lm--button.lm--button--primary href = "/admin/auctions/2/upcoming" Manage Published Upcoming Reverse Auction
  a.lm--button.lm--button--primary link_to= "" View Past Reverse Auction
