div.admin_btn 
  a.lm--button.lm--button--primary link_to= "admin/auctions/new" Create/Edit New Reverse Auction
  a.lm--button.lm--button--primary link_to= "" Manage Published Upcoming Reverse Auction
  a.lm--button.lm--button--primary link_to= "" View Past Reverse Auction
