<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <style type="text/css">
        a
        {
            color: #000000;
        }
        table.table_data
        {
            border-collapse:collapse;
            width: 100%;
            text-align: center;
            font-size: 12px;
        }

        table.table_data, table.table_data td, table.table_data th
        {
            border:1px solid black;
        }

        .table_th
        {
            background-color: #cccccc;
            line-height:17px;
            font-weight:bold
        }
        table, tr, td, th, tbody, thead, tfoot {
            page-break-inside: avoid !important;
        }
    </style>
</head>
<body style="font-size:12px;">
<p style="text-align:center;">
    <strong><span style="font-size:14px;">LETTER OF AWARD (ELECTRICITY PROCUREMENT)</span></strong>
</p>
<table style="width:100%;" cellpadding="2" cellspacing="0" border="0" bordercolor="#000000">
    <tbody style="font-size:12px;">
    <tr>
        <td>
            #retailer_user_company_name
        </td>
        <td style="text-align:right;">
            #auction_start_datetime
        </td>
    </tr>
    <tr>
        <td>
            #retailer_company_address
        </td>
        <td>

        </td>
    </tr>
    </tbody>
</table>

<ul style="padding-left: 0px;font-size:12px;;margin-bottom:0px">
    <li style="line-height:20px;list-style:none;">
        Dear Sirs,
    </li>
    <li style="line-height:20px;list-style:none;;margin-bottom:18px">
        REVV Reference: #auctions_published_gid
    </li>
    <li style="line-height:20px;list-style:none;">
        <b>CONTRACT DESCRIPTION: Electricity Procurement</b>
    </li>
    <li style="line-height:20px;list-style:none;">
        <ol style="padding-left: 18px;">
            <li style="padding-left: 4px;line-height:20px;margin-bottom:18px">
                We, #buyer_user_company_name, hereby accept your Tender dated #admin_accept_date, which includes the Schedule of Prices per locked in via bidding exercise dated #auction_start_datetime, for the supply of electricity as set out in Appendix 1 and based on the prices set out in the Schedule of Prices set out therein. <br />
                <br />
                In view of the above, the entity defined as "Company" in Appendix 1 to the Conditions of Contract shall be deleted and replaced with #buyer_user_company_name.
            </li>
            <li style="padding-left: 4px;line-height:20px;margin-bottom:18px">
                This Letter of Award together with the Tender Documents shall constitute a legally binding and enforceable Contract between us.
            </li>
            <li style="padding-left: 4px;line-height:20px;margin-bottom:18px">
                The Commencement Date of Supply shall be #auctions_contract_period_start_date.
            </li>
            <li style="padding-left: 4px;line-height:20px;margin-bottom:18px">
                Unless otherwise defined, all capitalised terms in this Letter of Award shall have the meaning given to them in the Conditions of Tendering and Conditions of Contract.
            </li>
            <li style="padding-left: 4px;line-height:20px;">
                This Letter of Award is sent to you in electronic copy. For the purposes of our records, please acknowledge receipt of this Letter of Award by clicking on the 'Acknowledge' button in portal, within one (1) Business Day of the date hereof.
            </li>
        </ol>
    </li>
</ul>
<br />
<ul style="padding-left: 0px;font-size:12px;margin-top: 6px;">
    <li style="line-height:20px;list-style:none;margin-bottom:6px">
        Yours faithfully,
    </li>
    <li style="line-height:20px;list-style:none;margin-bottom:6px">
        #buyer_user_company_name
    </li>
    <li style="line-height:20px;list-style:none;;margin-bottom:18px">
        Company Registration No. #buyer_uen_number
    </li>
</ul>
<br/>
<hr style="border:none;border-top:1px solid #000000;" />
<br/>
<ul style="padding-left: 0px;font-size:12px;">
    <li style="line-height:20px;list-style:none;">
        <b>ACKNOWLEDMENT OF RECEIPT BY #retailer_user_company_name:</b>
    </li>
    <li style="line-height:20px;list-style:none;">
        We, #retailer_user_company_name, company registration no. #retailer_uen_number hereby acknowledge receipt of this Letter of Award.
    </li>
    <li style="line-height:20px;list-style:none;">
        &nbsp;
    </li>
    <li style="line-height:20px;list-style:none;">
        <b>Status of Retailer Acknowledgement: #acknowledge</b>
    </li>
    <li style="line-height:20px;list-style:none;">
        <!--b>APPENDIX 1</b-->
    </li>

    <li style="line-height:20px;list-style:none;">
        <table class="table_data">
            <colgroup>
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
            </colgroup>
            <thead>
            <tr>
                <td class="table_th" colspan=6 style="background-color:#ffffff; text-align: left; border-left-color: #ffffff; border-top-color: #ffffff;border-right-color: #ffffff;">APPENDIX 1</td>
            </tr>
            <tr>
                <td class="table_th">Account Number</td>
                <td class="table_th">Intake Level</td>
                <td class="table_th">Peak Volume (kWh/month)</td>
                <td class="table_th">Off-Peak Volume (kWh/month)</td>
                <td class="table_th">Contracted Capacity (kW)</td>
                <td class="table_th">Premise Address</td>
            </tr>
            </thead>
            <tbody>
            <tr id="appendix_table1_tr">
                <td>
                    #account_number
                </td>
                <td>
                    #intake_level
                </td>
                <td>
                    #peak_volume
                </td>
                <td>
                    #off_peak_volume
                </td>
                <td>
                    #contracted_capacity
                </td>
                <td>
                    #premise_address
                </td>
            </tr>

            </tbody>
        </table>
    </li>
    <li style="line-height:20px;list-style:none;">
        &nbsp;
    </li>
    <li style="line-height:20px;list-style:none;">
        <!--b>Summary of Monthly Consumption Forecast: </b-->
    </li>
    <li style="line-height:20px;list-style:none;">
        <table class="table_data">
            <colgroup>
                <col width="150" />
                <col width="300" />
                <col width="300" />
                <col width="300" />
                <col width="300" />
            </colgroup>
            <thead style="margin-bottom:30px">
            <tr>
                <td class="table_th" colspan=10 style="background-color:#ffffff; text-align: left; border-left-color: #ffffff; border-top-color: #ffffff;border-right-color: #ffffff;">
                    Summary of Monthly Consumption Forecast:
                </td>
            </tr>
            <tr id="appendix_table2_head">
                <td class="table_th">&nbsp;</td>
                <td class="table_th" id="lt_head_id">LT</td>
                <td class="table_th" id="hts_head_id">HTS</td>
                <td class="table_th" id="htl_head_id">HTL</td>
                <td class="table_th" id="eht_head_id">EHT</td>
            </tr>
            </thead>
            <tbody >
            <tr id="appendix_table2_peak">
                <td>
                    Peak (kWh/month) <br/>7AM – 7PM
                </td>
                <td id="lt_peak_id">
                    #lt_peak
                </td>
                <td id="hts_peak_id">
                    #hts_peak
                </td>
                <td id="htl_peak_id">
                    #htl_peak
                </td>
                <td id="eht_peak_id">
                    #eht_peak
                </td>
            </tr>
            <tr id="appendix_table2_off_peak">
                <td>
                    Off-Peak (kWh/month) <br/>7PM – 7AM
                </td>
                <td id="lt_off_peak_id">
                    #lt_off_peak
                </td>
                <td id="hts_off_peak_id">
                    #hts_off_peak
                </td>
                <td id="htl_off_peak_id">
                    #htl_off_peak
                </td>
                <td id="eht_off_peak_id">
                    #eht_off_peak
                </td>
            </tr>
            <tr id="appendix_table2_total">
                <td>
                    Total (kWh/month)
                </td>
                <td id="lt_total_id">
                    #lt_total
                </td>
                <td id="hts_total_id">
                    #hts_total
                </td>
                <td id="htl_total_id">
                    #htl_total
                </td>
                <td id="eht_total_id">
                    #eht_total
                </td>
            </tr>
            </tbody>
        </table>
    </li>
    <li style="line-height:20px;list-style:none;">
        &nbsp;
    </li>
    <li style="line-height:20px;list-style:none;" id="contract">
        <table class="table_data2">
            <thead>
            <tr class="table_th2"><td>Contract:</td>
            </tr>
            </thead>
            <tbody>
            <tr><td><a href="#procurement_agreement">Electricity Procurement Agreement </a>
            </td></tr>
            </tbody>
        </table>
    </li>
</ul>
</body>
</html>
