<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <style type="text/css">
        a
        {
            color: #000000;
        }

        table.table_data2
        {
            border:1px;
            border-collapse:collapse;
            width: 100%;
            text-align: left;
            font-size: 12px;
        }
        .table_th2
        {
            line-height:17px;
            font-weight:bold
        }
        table.table_data
        {
            border-collapse:collapse;
            width: 100%;
            text-align: center;
            font-size: 12px;
        }

        table.table_data, table.table_data td, table.table_data th
        {
            border:1px solid black;
        }

        .table_th
        {
            background-color: #cccccc;
            line-height:17px;
            font-weight:bold
        }
        table, tr, td, th, tbody, thead, tfoot {
            page-break-inside: avoid !important;
        }
    </style>
</head>
<body style="font-size:12px;">
<p style="text-align:center;">
    <strong><span style="font-size:14px;">CLOSING OF ELECTRICITY PURCHASE CONTRACT</span></strong>
</p>
<table style="width:100%;" cellpadding="2" cellspacing="0" border="0" bordercolor="#000000">
    <tbody style="font-size:12px;">
    <tr>
        <td>
            Closing Date: #auction_start_datetime
        </td>
    </tr>
    <tr>
        <td>
            REVV Reference ID: #auctions_published_gid
        </td>
    </tr>
    <tr>
        <td>
            Name of Winning Retailer: #retailer_user_company_name
        </td>
    </tr>
    <tr>
        <td>
            Address of Winning Retailer: #retailer_company_address
        </td>
    </tr>
    <tr>
        <td>
            Name of Buyer: #buyer_user_company_name
        </td>
    </tr>
    <tr>
        <td>
            Address of Buyer: #buyer_user_company_address
        </td>
    </tr>
    </tbody>
</table>

<ul style="padding-left: 0px;font-size:12px;;margin-bottom:0px">

    <li style="line-height:20px;list-style:none;">
        <b>CONTRACT DESCRIPTION: Electricity Purchase Contract with respect to Sale and Purchase of Electricity via Reverse Auction on SP REVV Platform </b>
    </li>
    <li style="line-height:20px;list-style:none;">
        <ol style="padding-left: 18px;">
            <li style="padding-left: 4px;line-height:20px;margin-bottom:18px">
                #retailer_user_company_name and #buyer_user_company_name hereby agree to the sale and purchase of electricity closed on #auctions_contract_period_end_date via Reverse Auction on SP REVV Platform, based on the specifications and price set out in attached Appendix 1 and the terms and conditions set out in the <a href="#electricity_purchase_contract">Electricity Purchase Contract</a>. #retailer_user_company_name and #buyer_user_company_name may respectively print copy of the Electricity Purchase Contract for its own record.
            </li>
            <li style="padding-left: 4px;line-height:20px;margin-bottom:18px">
                This closing letter together with the Electricity Purchase Contract shall constitute a legally binding and enforceable contract between #retailer_user_company_name and #buyer_user_company_name
            </li>
            <li style="padding-left: 4px;line-height:20px;margin-bottom:18px">
                The commencement date of supply of the electricity shall be #auctions_contract_period_start_date
            </li>
            <li style="padding-left: 4px;line-height:20px;margin-bottom:18px">
                Unless otherwise defined, all capitalised terms in this closing letter shall have the meaning given to them in the <a id="terms_and_conditions_of_use" href="#terms_and_conditions_of_use" target="_blank">Terms and Conditions of Use</a><span id="terms_and_conditions_of_use_admin"><a href="#terms_and_conditions_of_use_buyer" target="_blank">Terms and Conditions of Use(Buyer)</a>, the <a href="#terms_and_conditions_of_use_retailer" target="_blank">Terms and Conditions of Use(Retailer)</a></span> and the Electricity Purchase Contract.
            </li>
            <li style="padding-left: 4px;line-height:20px;margin-bottom:18px">
                This closing letter is governed by the laws of Singapore.
            </li>

            <li style="padding-left: 4px;line-height:20px;">
                This closing letter is sent to #retailer_user_company_name and #buyer_user_company_name respectively in electronic copy.
            </li>
        </ol>
    </li>
</ul>
<br />
<table style="width:100%;" cellpadding="2" cellspacing="0" border="0" bordercolor="#000000">
    <tbody style="font-size:12px;">
    <tr>
        <td width="50%">
            #retailer_user_company_name
        </td>
        <td width="50%">
            #buyer_user_company_name
        </td>
    </tr>
    </tbody>
</table>
<br/><br/><br/><br/><br/>
<hr style="border:none;border-top:1px solid #000000;" />
<br/>
<ul style="padding-left: 0px;font-size:12px;">
    <li style="line-height:20px;list-style:none;">
        <table class="table_data">
            <colgroup>
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
            </colgroup>
            <thead>
            <tr>
                <td class="table_th" colspan=6 style="background-color:#ffffff; text-align: left; border-left-color: #ffffff; border-top-color: #ffffff;border-right-color: #ffffff;">APPENDIX 1 – Specifications and Price</td>
            </tr>
            <tr>
                <td class="table_th">Account Number</td>
                <td class="table_th">Intake Level</td>
                <td class="table_th">Peak Volume (kWh/month)</td>
                <td class="table_th">Off-Peak Volume (kWh/month)</td>
                <td class="table_th">Contracted Capacity (kW)</td>
                <td class="table_th">Premise Address</td>
            </tr>
            </thead>
            <tbody>
            <tr id="appendix_table1_tr">
                <td>
                    #account_number
                </td>
                <td>
                    #intake_level
                </td>
                <td>
                    #peak_volume
                </td>
                <td>
                    #off_peak_volume
                </td>
                <td>
                    #contracted_capacity
                </td>
                <td>
                    #premise_address
                </td>
            </tr>

            </tbody>
        </table>
    </li>
    <li style="line-height:20px;list-style:none;">
        &nbsp;
    </li>
    <li style="line-height:20px;list-style:none;">
        <!--b>Summary of Monthly Consumption Forecast: </b-->
    </li>
    <li style="line-height:20px;list-style:none;">
        <table class="table_data">
            <colgroup>
                <col width="150" />
                <col width="300" />
                <col width="300" />
                <col width="300" />
                <col width="300" />
            </colgroup>
            <thead style="margin-bottom:30px">
            <tr id="appendix_table3_head">
                <td class="table_th">&nbsp;</td>
                <td class="table_th" id="lt_head_id">LT<br/>($/kWh)</td>
                <td class="table_th" id="hts_head_id">HTS<br/>($/kWh)</td>
                <td class="table_th" id="htl_head_id">HTL<br/>($/kWh)</td>
                <td class="table_th" id="eht_head_id">EHT<br/>($/kWh)</td>
            </tr>
            </thead>
            <tbody >
            <tr id="appendix_table3_peak">
                <td>
                    Peak<br/>7AM – 7PM
                </td>
                <td id="lt_peak_id">
                    #lt_peak
                </td>
                <td id="hts_peak_id">
                    #hts_peak
                </td>
                <td id="htl_peak_id">
                    #htl_peak
                </td>
                <td id="eht_peak_id">
                    #eht_peak
                </td>
            </tr>
            <tr id="appendix_table3_off_peak">
                <td>
                    Off-Peak<br/>7PM – 7AM
                </td>
                <td id="lt_off_peak_id">
                    #lt_off_peak
                </td>
                <td id="hts_off_peak_id">
                    #hts_off_peak
                </td>
                <td id="htl_off_peak_id">
                    #htl_off_peak
                </td>
                <td id="eht_off_peak_id">
                    #eht_off_peak
                </td>
            </tr>

            </tbody>
        </table>
    </li>

    <li style="line-height:25px;list-style:none; padding: 18px 0px 0px 0px">
        Contract Period: #auctions_contract_period_start_date to #auctions_contract_period_end_date
    </li>
    <li style="line-height:25px;list-style:none;">
        Total Volume: #total_volume kWh (forecasted)
    </li>
    <li style="line-height:20px;list-style:none;">
        <table class="table_data">
            <colgroup>
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
                <col width="17%" />
            </colgroup>
            <thead>
            <tr>
                <td height="25px" class="table_th" colspan=10 style="background-color:#ffffff; text-align: left; border-left-color: #ffffff; border-top-color: #ffffff;border-right-color: #ffffff;">Aggregate Consumption</td>
            </tr>
            <tr id="appendix_table4_head">
                <td class="table_th">&nbsp;</td>
                <td class="table_th" id="lt_head_id">LT<br/>(kWh/month)</td>
                <td class="table_th" id="hts_head_id">HTS<br/>(kWh/month)</td>
                <td class="table_th" id="htl_head_id">HTL<br/>(kWh/month)</td>
                <td class="table_th" id="eht_head_id">EHT<br/>(kWh/month)</td>
            </tr>
            </thead>
            <tbody>
            <tr id="appendix_table4_peak">
                <td>
                    Peak<br/>(7AM-7PM)
                </td>
                <td id="lt_peak_id">
                    #lt_peak
                </td>
                <td id="hts_peak_id">
                    #hts_peak
                </td>
                <td id="htl_peak_id">
                    #htl_peak
                </td>
                <td id="eht_peak_id">
                    #eht_peak
                </td>
            </tr>
            <tr id="appendix_table4_off_peak">
                <td>
                    Off-Peak<br/>(7PM-7AM)
                </td>
                <td id="lt_off_peak_id">
                    #lt_off_peak
                </td>
                <td id="hts_off_peak_id">
                    #hts_off_peak
                </td>
                <td id="htl_off_peak_id">
                    #htl_off_peak
                </td>
                <td id="eht_off_peak_id">
                    #eht_off_peak
                </td>
            </tr>
            <tr id="appendix_table4_total">
                <td>
                    Total
                </td>
                <td id="lt_total_id">
                    #lt_total
                </td>
                <td id="hts_total_id">
                    #hts_total
                </td>
                <td id="htl_total_id">
                    #htl_total
                </td>
                <td id="eht_total_id">
                    #eht_total
                </td>
            </tr>
            </tbody>
        </table>
    </li>
</ul>
</body>
</html>
